* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: black;
}

.nav2_grid {
	display: grid;
	width: 60%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "menu1 menu2 menu3 menu4";
}

#menu1 {
	grid-area: menu1;
	text-align: left;
}

#menu2 {
	grid-area: menu2;
	text-align: left;
}

#menu3 {
	grid-area: menu3;
	text-align: left;
}

#menu4 {
	grid-area: menu4;
	text-align: left;
}

.dropdown {
	margin: 10px;
	display: inline-block;
	position: relative;
}

.dropdown-content {
	text-align: center;
	display: none;
	position: absolute;
	overflow: auto;
}

.dropdown:hover .dropdown-content {
	display: block;
	font-size: 1em;
	width: 100%;
}

.dropdown-content .dropdown-content_content {
	padding: 3px;
	border: solid 1px lightgray;
	display: block;
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
}

.arrow {
	padding-left: 5px;
	display: block;
	text-align: left;
	color: #ffffff;
	border: none;
}

.dropdown-content .dropdown-content_content:hover {
	background-color: lightgray;
}

#logo {
	margin: 0;
	padding: 0;
	width: 20vh;
	height: 5vh;
	background: url("img/bigLogo.png");
	background-size: cover;
	background-repeat: no-repeat;
}

/* �솕硫� grid */
body {
	display: grid;
	height: 130vh;
	grid-template-rows: 0.5fr 0.5fr 8fr 1fr;
	grid-template-areas: "nav1" "nav2" "main" "footer";
}

#nav1 {
	grid-area: nav1;
	display: flex;
}

#nav2 {
	grid-area: nav2;
	display: flex;
	background-color: #fabb51;
}

.container {
	grid-area: main;
}

footer {
	border: solid 1px lightgray;
	border-left: none;
	border-right: none; padding : 10px;
	width: 70%;
	margin: 0 auto;
	align-items: center;
	grid-area: footer;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "info1 info2 info3";
	padding: 10px;
}

#info1 {
	grid-area: info1;
}

#info2 {
	grid-area: info2;
}

#info3 {
	grid-area: info3;
	margin: 5px;
}

.nav {
	padding-left: 15%;
	position: relative;
}

.nav-left {
	position: absolute;
	right: 17%;
}

#nav1-left {
	padding: 1%;
}

#nav2-left {
	display: flex;
}

#nav1-left a {
	padding: 5px;
	padding-left: 2.5px;
	margin: 0px;
	font-size: 0.8em;
	align-items: center;
	border: solid 1px lightgray;
	border-top: none;
	border-bottom: none;
	border-left: none;
}

#search {
	margin-top: 5px;
	display: block;
	border: none;
	background-color: #fabb51;
	border-bottom: solid 1px whitesmoke;
}

#search_btn {
	margin: 0;
	padding: 0;
	width: 5vh;
	height: 5vh;
	border: none;
	background: url("img/search.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#view_btn {
	margin: 0;
	margin-left: 10px;
	padding: 0;
	width: 5vh;
	height: 5vh;
	border: none;
}

.btns {
	display: flex;
	justify-content: start;
}

#phone_img {
	width: 3vh;
	height: 3vh;
	margin-right: 5px;
	background: url("img/phone_img.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#google {
	padding: 0px;
	margin-right: 5px;
	width: 15vh;
	height: 6vh;
	border: none;
	background: url("img/google-play-badge.png");
	background-size: cover;
	background-repeat: no-repeat;
	border: solid 1px lightgray;
	border-radius: 5%;
}

#apple {
	padding: 0px;
	margin-right: 5px;
	width: 15vh;
	height: 6vh;
	border: none;
	background: url("img/google-play-badge.png");
	background-size: cover;
	background-repeat: no-repeat;
	border: solid 1px lightgray;
	border-radius: 5%;
}

#facebook {
	margin-right: 5px;
	width: 6vh;
	height: 6vh;
	border: none;
	background: url("img/naver_logo.PNG");
	background-size: cover;
	background-repeat: no-repeat;
	border: solid 1px lightgray;
	border-radius: 50%;
}

#insta {
	margin-right: 5px;
	width: 6vh;
	height: 6vh;
	background: url("img/naver_logo.PNG");
	background-size: cover;
	background-repeat: no-repeat;
	border: solid 1px lightgray;
	border-radius: 50%;
}

#youtube {
	margin-right: 5px;
	width: 6vh;
	height: 6vh;
	background: url("img/naver_logo.PNG");
	background-size: cover;
	background-repeat: no-repeat;
	border: solid 1px lightgray;
	border-radius: 50%;
}

#naver {
	margin-right: 5px;
	width: 6vh;
	height: 6vh;
	background: url("img/naver_logo.PNG");
	background-size: cover;
	background-repeat: no-repeat;
	border: solid 1px lightgray;
	border-radius: 50%;
}

#naver_blog {
	margin-right: 5px;
	width: 6vh;
	height: 6vh;
	background: url("img/naver_logo.PNG");
	background-size: cover;
	background-repeat: no-repeat;
	border: solid 1px lightgray;
	border-radius: 50%;
}