.container {
  margin-top: 60px;
  margin-bottom: 30px;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
}
#sel_schedule,
#sel_insurance,
#sel_type {
  margin: 20px;
}
.cars_wrap {
  width: 80%;
  display: grid;
  grid-template-columns: 2.5fr 7.5fr;
  grid-template-areas: "sel cars";
}
.sel {
  grid-area: sel;
}

.types {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 3px;
}
.types li {
  padding: 3px;
  border: solid 1px lightgrey;
}

.cars {
  grid-area: cars;
}
ul {
  list-style: none;
}
.car_img_wrap {
  width: 60%;
  height: width;
  position: relative;
}
.discount {
  top: -10%;
  left: -10%;
  background-color: yellow;
  width: 20%;
  height: width;
  border: solid 1px yellow;
  border-radius: 50%;
}
.soldout {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  background-color: gray;
  color: white;
  opacity: 0.8;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: solid 1px lightgray;
  border-radius: 50%;
}
.img {
  width: 100%;
  height: 100%;
  border: solid 1px lightgray;
  border-radius: 50%;
}

.car_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1em;
  margin-top: 20px;
}

.auto_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;

  grid-auto-flow: row;
}

 #showtime{
   	text-align:center;
	padding:5px;
	margin:10px;
	border:solid 1px lightgray;
}
